In [14]:
import pandas as pd

In [19]:
tabela = pd.read_csv('dados/temperaturas.csv', header=0, sep= ';', encoding= 'utf-8', index_col=['dia'] )

In [21]:
tabela.head(10)

       clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
ter      sol       19,67     28       96
qua      sol       17,51     16       20
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62
dom      sol        17,5     20       10

In [22]:
tabela.loc['sex', 'temperatura']

'10,51'

In [23]:
dias = ['seg', 'qui', 'dom']
info = ['clima', 'vento']

In [24]:
tabela.loc[dias, info]

       clima  vento
dia
seg      sol     13
qui  nublado     11
dom      sol     20

In [25]:
tabela.loc[dias, ]

       clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
qui  nublado       14,44     11       22
dom      sol        17,5     20       10

In [27]:
tabela.loc['ter':'qui', ['temperatura', 'vento']]

    temperatura  vento
dia
ter       19,67     28
qua       17,51     16
qui       14,44     11

In [29]:
tabela.loc[tabela.umidade >50,['clima']]

     clima
dia
ter    sol
sex  chuva
sab  chuva

In [37]:
tabela.loc[(tabela.umidade >50)&(tabela.clima == 'chuva')]

     clima temperatura  vento  umidade
dia
sex  chuva       10,51     26       79
sab  chuva       11,07     27       62

In [38]:
tabela.loc[(tabela.umidade >50)|(tabela.clima == 'nublado')]

       clima temperatura  vento  umidade
dia
ter      sol       19,67     28       96
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62